<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
</head>
<body>
    <header>
        <h1>Willkommen auf der Startseite!</h1>
    </header>
    <main>
        <p>Dies ist der Inhalt der Startseite.</p>
        <main>
            <h2>Neueste Einträge:</h2>
            <ul>
                {% for eintrag in eintraege %}
                    <li>{{ eintrag.titel }} - {{ eintrag.erstelldatum }}</li>
                {% endfor %}
            </ul>
        </main>
        
    </main>
    <footer>
        <p>&copy; 2024 Dein Unternehmen</p>
    </footer>
</body>
</html>
