{% extends 'client_base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Warehouse
{% endblock %}

{% block body %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Warehouse - Client</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
            </div>
        </div>
    </nav>

    <div class="container-xxl">
        {% for mesg in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
            {{ mesg }}
        </div>
        {% endfor %}

        {% if items|length < 1 %}
        <h4 style="text-align: center">There are no items in the warehouse. Create one below!</h4>
        {% else %}
        <h1>Items</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{ item.item_id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/buy/{{item.item_id}}">Buy</a>
                        <a class="btn btn-outline-danger" href="/sell/{{item.item_id}}">Sell</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <hr/>
        <h1>Create an item</h1>
        {{ render_form(item_form) }}

    </div>
</div>
{% endblock %}